* {
    margin: 0;
    padding: 0;
}


.container {
    /* background-color: chocolate; */
    display: grid;
    grid-template-columns: 300px 300px 300px  300px;
    justify-content: center;
    gap: 20px;
}

.box {
    background-color: papayawhip;
    width: 200px;
    height: 200px;
    /* margin: 10px; */
}