* {
    margin: 0;
    padding: 0;

}
.header {
    background-color: aliceblue;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 0 80px;
}
.header h1 {
    margin-right: auto;
}
span {
    color: burlywood;
}
.header ul {
    display: flex;
}
.header ul li {
    list-style: none;
    padding: 8px 16px;
}
.header ul li a {
    text-decoration: none;
    color: black;
}
.header ul li:hover {
    background-color: burlywood;
    border-radius: 20px;
}
button {
    border: none;
    padding: 10px 16px;
    margin: 10px 0;
    background-color: burlywood;
    border-radius: 10px;
}
.btn {
    background-color: transparent;
    border: 2px solid burlywood;
}
button:hover {
    cursor: pointer;
}

/* /main goes here/ */
.main {
    margin: 30px 120px;
    text-align: center;
    box-sizing: border-box;
}
.main h1 {
    font-size: 48px;
}
.main #pp {
    padding: 15px 0;
}
img {
    width: 100%;
}
.main h2 {
    text-align: left;
    padding: 10px 0;
}
#p {
    text-align: left;
    color: rgba(0, 0, 0,0.3);
}

.blog {
    display: flex;
    gap: 20px;
    align-items: center;
    border-top: 1px solid gray;
    margin: 20px 120px;
    padding: 20px;
    
}
.blog img {
    width: 200px;
    border-radius: 20px;
}
.blog div p{
    padding-top: 10px;
}


.footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}
.footer h1 {
    padding-bottom: 10px;
}
.footer #p-br {
    border-bottom: 1px solid white;
}



